#buttonPicture{
    height: 40px;
    width: 50px;
    margin-left: 390px;
}
#likePicture{
    height: 30px;
    width: 40px;
}
.listLikes{
    margin-left: 320px;
}
.divUsers{
    display: table;
}
select{
    margin-bottom: 10px;   
}