<form [formGroup]= "filterFormGroup" class="formContainer" method="GET" >
    <h2 id="title">Filter Feed</h2>
    <div class="marginForm">
        <label>Date From: </label>
        <input type="date" formControlName="DateFrom">
    </div>
    <div class="marginForm">
        <label>Date To: </label>
        <input type="date" formControlName="DateTo"> 
    </div>
    <div class="marginForm">
        <button type="submit" (click)="serachByTime($event)">Search By Time</button>
    </div>
    <div class="marginForm">
        <label>Radius From Current Location: </label>
        <input id="radiusLocation" type="number">
    </div>
    <div class="marginForm">
        <button type="submit">Search By Radius</button>
    </div>
    <div class="marginForm">
        <label>Image Tags: </label>
        <input formControlName="Tag" type="text">
    </div>
    <div class="marginForm">
        <button type="submit" (click)="serachByTags($event)">Search By Tags</button>
    </div>
    <div class="marginForm">
        <label>Tagged Users: </label>
        <select>
            <option *ngFor="let user of users">
                {{user.FirstName}} {{user.LastName}}
            </option>
        </select>
    </div>
    <div class="marginForm">
        <button type="submit">Search By Tagged Users</button>
    </div>
</form>
