<div>
    <h2>Welcome To FakeLook</h2>
</div>
<form>
    <h3>Register</h3>
    <input type="text" placeholder="First Name" required>
    <input type="text" placeholder="Last Name" required>
    <input type="number" placeholder="Age" min="14">
    <input type="text" placeholder="Address">
    <input type="text" placeholder="Work Place">
    <input type="text" placeholder="UserName" required>
    <input type="password" placeholder="Password" required>
    <div>
        <button id="submit" type="submit">Register</button>
    </div>
</form>


