<div>
    <h2>Welcome To FakeLook</h2>
</div>
<div>
    <form>
        <div id="underLine">Login</div>
        <div>
            <input type="text" placeholder="User Name">
        </div>
        <div>
            <input type="password" placeholder="Password">
        </div>
        <div>
            <input id="submit" type="submit" value="Login">
        </div>
        <div id="notRegister">Not registered yet? 
            <br>
            <div id="example">Click The Login Link, Then Click The Sign Up Link!</div> 
        </div>
    </form>
</div>

