#underLine{
    text-decoration: underline;
    margin-top: 20px;
}
form{
    background-color: darkcyan;
    border-radius: 10px;
    position: absolute;
    margin-left: 450px;
    align-items: center;
    text-align: center;
    font-size: 25px;
    width: 350px;
    margin-top: 70px;
}
input{
    margin-top: 15px;
    font-size: large;
    text-align: center;
    width: 200px;
    margin-bottom: 20px;
}
#submit{
    width:100px;
}
#notRegister{
    font-size: 20px;
    margin-bottom: 20px;
}