<div>
    <h2>Welcome To FakeLook</h2>
</div>
<div>
    <form [formGroup]='loginFormGroup'>
        <div id="underLine">Login</div>
        <div>
            <input formControlName='userName' type="text" placeholder="User Name">
            <div class="error" *ngIf='loginFormGroup.get("userName").errors?.required && loginFormGroup.get("userName").touched'>User Name Is Required!!</div>
        </div>
        <div>
            <input formControlName='password' type="password" placeholder="Password">
            <div class="error" *ngIf='loginFormGroup.get("password").errors?.required && loginFormGroup.get("password").touched'>Password Is Required!!</div>
        </div>
        <div>
            <input (click)="login()" id="submit" type="submit" value="Login">
        </div>
        <div>{{sucsses}}</div>
        <div id="notRegister">Not Registered Yet? Click The Sign Up Link!</div>
    </form>
</div>

